/* * {
    outline: 2px solid red;
}
*/
body{
    text-align: center;
    
}

h1{
    background: yellow;
    padding: 10px 50px;
}

li{
    display: inline-block;
    margin: 0px 20px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: black;
}

.Lasagna {
    background-image: url("pictures/lasagna.jpg")
    
}
.Dumplings {
    background-image: url("pictures/dumplings.jpeg")
}

.Hamburger {  
    background-image: url("pictures/hamburger.jpeg")
}